@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root
{
    --color-one: #e8ebe4;
    --color-two: #d2d5dd;
    --color-three: #b8bacf;
    --color-four: #999ac6;
    --color-five: #798071;

    --color-wrong: #f81010;
    --color-correct: #009842;
    --color-worning: #f4d400;
    --color-edit: #0080ff;

    --font: "Lato", sans-serif;
}